name: Build APK

on:
  push:
    tags:
      - 'v*' # کاتێک تاگێک بە v دەست پێدەکات کاردەکات

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.41.2'
      - run: flutter pub get
      
      # ١. دروستکردنی فایلەکان بە جیا (بۆ قەبارەی بچووک)
      - run: flutter build apk --split-per-abi --release
      
      # ٢. دروستکردنی فایلی گشتی (Fat APK - بۆ هەموو مۆبایلەکان)
      - run: flutter build apk --release
      
      # ٣. ناردنی فایلەکان بۆ ریلیز
      - uses: softprops/action-gh-release@v1
        with:
          files: |
            build/app/outputs/flutter-apk/app-arm64-v8a-release.apk
            build/app/outputs/flutter-apk/app-armeabi-v7a-release.apk
            build/app/outputs/flutter-apk/app-release.apk
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
